<form class="card" [formGroup]="formLogin" (ngSubmit)="submit()">
    <h1>Enter in Admin</h1>

    <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
        {{error}}
    </div>

    <div class="alert alert-info" *ngIf="message">
        {{message}}
    </div>

    <div class="form-control">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email">
        <div class="validation" *ngIf="email?.invalid &&  email?.touched">
            <div *ngIf="email?.errors?.['required']">
                <small>Please, enter email</small>
            </div>
            <div *ngIf="email?.errors?.['email']">
                <small>Do not correct email</small>
            </div>
        </div>
    </div>

    <div class=" form-control">
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password">
        <div class="validation" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div>
                <small>Please, enter password</small>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formLogin.invalid || submitted">Log In</button>
</form>